<div class="preloarer"></div>
<div class="wrapper">
    <div class="resault">Результат поиска по</div>
    <div class="formulirovka">Тут выводится формулировка клиента </div>
    <div class="kol-vo">Найдено 635 товаров</div>
    <div class="search">
        <!--<form name="test" method="post" action="input1.php">-->
        <input type="search" placeholder="Введите название продукта, компании..." size="40">
        <input type="submit" value="">
    </div>
</div>

<div class="conteiner__sorting">
    <div class="sorting__box">
        <div class="sorting__box__top">
            <div class="sorting__box__item item__sort__1">
                Сортировать
                <div class="tab__sort item__sort__1"></div>
                <div class="sorting__box__active__item item__sort__1">
                    <div class="sorting__active__item">Новинки</div>
                    <div class="sorting__active__item">Популярное</div>
                    <div class="sorting__active__item">Цена по убыванию</div>
                    <div class="sorting__active__item">Цена по возрастанию</div>
                </div>
            </div>
            <div class="sorting__box__item item__sort__2">
                Местоположение
                <div class="tab__sort item__sort__2"></div>
                <div class="sorting__box__active__item item__sort__2">
                    <div class="sorting__active__item">Новинки</div>
                    <div class="sorting__active__item">Популярное</div>
                    <div class="sorting__active__item">Цена по убыванию</div>
                    <div class="sorting__active__item">Цена по возрастанию</div>
                </div>
            </div>
            <div class="sorting__box__item item__sort__3">
                Категория
                <div class="tab__sort item__sort__3"></div>
                <div class="sorting__box__active__item item__sort__3">
                    <div class="sorting__active__item">Новинки</div>
                    <div class="sorting__active__item">Популярное</div>
                    <div class="sorting__active__item">Цена по убыванию</div>
                    <div class="sorting__active__item">Цена по возрастанию</div>
                </div>
            </div>
            <div class="sorting__box__item item__sort__4">
                Размер скидки
                <div class="tab__sort item__sort__4"></div>
                <div class="sorting__box__active__item item__sort__4">
                    <div class="sorting__active__item">Новинки</div>
                    <div class="sorting__active__item">Популярное</div>
                    <div class="sorting__active__item">Цена по убыванию</div>
                    <div class="sorting__active__item">Цена по возрастанию</div>
                </div>
            </div>
        </div>
        <div class="sorting__box__botton">
            <div class="sorting__box__item item__sort__5">
                Цвета
                <div class="tab__sort item__sort__5"></div>
                <div class="sorting__box__active__item item__sort__5">
                    <div class="sorting__active__item">Новинки</div>
                    <div class="sorting__active__item">Популярное</div>
                    <div class="sorting__active__item">Цена по убыванию</div>
                    <div class="sorting__active__item">Цена по возрастанию</div>
                </div>
            </div>
            <div class="sorting__box__item item__sort__6">
                Цена
                <div class="tab__sort item__sort__6"></div>
                <div class="sorting__box__active__item item__sort__6">
                    <div class="sorting__active__item">Новинки</div>
                    <div class="sorting__active__item">Популярное</div>
                    <div class="sorting__active__item">Цена по убыванию</div>
                    <div class="sorting__active__item">Цена по возрастанию</div>
                </div>
            </div>
            <div class="sorting__box__item item__sort__7">
                Бренд
                <div class="tab__sort item__sort__7"></div>
                <div class="sorting__box__active__item item__sort__7">
                    <div class="sorting__active__item">Новинки</div>
                    <div class="sorting__active__item">Популярное</div>
                    <div class="sorting__active__item">Цена по убыванию</div>
                    <div class="sorting__active__item">Цена по возрастанию</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Item__search__container">

    <div class="slider__item search__item">
        <a href=""><div class="box__image__item"><img src="images/IMG__items/Rectangle 98.webp" class="img__slider__item"></div></a>
        <div class="like__img__slider__item"></div>
        <div class="name__slider__item black__search">Кресла</div>
        <div class="priсe__slider__item black__search">1 200 руб/шт</div>
        <a href=""><div class="buy__slider__item black__search__buy">Выбрать</div></a>
    </div>
    <div class="slider__item search__item">
        <a href=""><div class="box__image__item"><img src="images/IMG__items/Rectangle 98.webp" class="img__slider__item"></div></a>
        <div class="like__img__slider__item"></div>
        <div class="name__slider__item black__search">Кресла</div>
        <div class="priсe__slider__item black__search">1 200 руб/шт</div>
        <a href=""><div class="buy__slider__item black__search__buy">Выбрать</div></a>
    </div>
    <div class="slider__item search__item">
        <a href=""><div class="box__image__item"><img src="images/IMG__items/Rectangle 98.webp" class="img__slider__item"></div></a>
        <div class="like__img__slider__item"></div>
        <div class="name__slider__item black__search">Кресла</div>
        <div class="priсe__slider__item black__search">1 200 руб/шт</div>
        <a href=""><div class="buy__slider__item black__search__buy">Выбрать</div></a>
    </div>
    <div class="slider__item search__item">
        <a href=""><div class="box__image__item"><img src="images/IMG__items/Rectangle 98.webp" class="img__slider__item"></div></a>
        <div class="like__img__slider__item"></div>
        <div class="name__slider__item black__search">Кресла</div>
        <div class="priсe__slider__item black__search">1 200 руб/шт</div>
        <a href=""><div class="buy__slider__item black__search__buy">Выбрать</div></a>
    </div>
    <div class="slider__item search__item">
        <a href=""><div class="box__image__item"><img src="images/IMG__items/Rectangle 98.webp" class="img__slider__item"></div></a>
        <div class="like__img__slider__item"></div>
        <div class="name__slider__item black__search">Кресла</div>
        <div class="priсe__slider__item black__search">1 200 руб/шт</div>
        <a href=""><div class="buy__slider__item black__search__buy">Выбрать</div></a>
    </div>
    <div class="slider__item search__item">
        <a href=""><div class="box__image__item"><img src="images/IMG__items/Rectangle 98.webp" class="img__slider__item"></div></a>
        <div class="like__img__slider__item"></div>
        <div class="name__slider__item black__search">Кресла</div>
        <div class="priсe__slider__item black__search">1 200 руб/шт</div>
        <a href=""><div class="buy__slider__item black__search__buy">Выбрать</div></a>
    </div>
    <div class="slider__item search__item">
        <a href=""><div class="box__image__item"><img src="images/IMG__items/Rectangle 98.webp" class="img__slider__item"></div></a>
        <div class="like__img__slider__item"></div>
        <div class="name__slider__item black__search">Кресла</div>
        <div class="priсe__slider__item black__search">1 200 руб/шт</div>
        <a href=""><div class="buy__slider__item black__search__buy">Выбрать</div></a>
    </div>
</div>

<div class="container__more">
    <div class="more__text">Показано 16 товаров из 327</div>
    <div class="more__polosa"></div>
    <div class="more__botton">Показать ещё</div>
</div>

