
<html>
@{
    ViewData["Title"] = "Search";
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Style.css" type="text/css">
    <link rel="stylesheet" href="~/css/fonts.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
</head>
<body>
    <header class="header__style header__search">
        @await Html.PartialAsync("_HeaderPartial")
    </header>
    <main class="Search__main">
        @await Html.PartialAsync("MainSearchPartial")
    </main>

    <footer class="footer">
        @await Html.PartialAsync("FooterSearchPartial")
    </footer>


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/js/Kabinet.js"></script>
    <script type="text/javascript" src="~/js/sort.js"></script>
</body>
</html>