<div class="main__title">
    <h1 class="title">Экономим вместе</h1>
    <h2 class="little__title">Опыт показывает, что закупать товар вы можете на 15-20% ниже розничной цены, и мы поможем вам в этом</h2>
    <div class="bottom__contaiter">
        <div class="bottom__ss"><div class="bottom__title register">Зарегистрироваться</div></div>
    </div>
</div>
<div class="conteiter__scroll">
    <a href="#down" class="bottom__scroll"></a>
</div>
</div>

<div id="down" class="contaiter__why">
    <div class="title__why">Почему стоит присоединиться к нам?</div>
    <div class="content__why">
        <div class="tabs">
            <ul class="tabs__caption">
                <li class="active">Бизнесу</li>
                <li>Поставщикам</li>
            </ul>

            <div class="tabs__content active">
                <div class="text__bys">
                    <div class="text__one"><img src="images/images-who/euro-3 1.svg">Экономия средств при покупке расходных материалов</div>

                    <div class="text__two"><img src="images/images-who/money-bag 1.svg">Увеличение прибыли и продаж</div>

                </div>
                <div class="text__prov">
                    <div class="text__one"><img src="images/images-who/support 1.svg">Увилечение надежных контрагентов</div>
                    <div class="text__two"><img src="images/images-who/voucher 1.svg">Получение дополнительных скидок от поставщиков за счет количества</div>
                </div>
            </div>
            <div class="tabs__content">
                <div class="text__bys">
                    <div class="text__one"><img src="images/images-who/box-3 1.svg">Возможность предложить свой продукт крупным компаниям</div>
                    <div class="text__two"><img src="images/images-who/money-bag 1.svg">Увеличение оборотных средств</div>
                </div>
                <div class="text__prov">
                    <div class="text__one"><img src="images/images-who/euro-3 1.svg">Заработок на комиссии</div>
                    <div class="text__two"><img src="images/images-who/support 1.svg">Увеличение надежных контрагентов</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="conteiner__who">
    <img src="images/who.webp">
    <div class="title__who">
        Wesave
        <div class="little__title__who">Кто мы такие?</div>
    </div>
    <div class="who__content">
        <div class="text__who__one">WESAVE – сервис, соединяющий компании, у которых есть скидка на товар с теми, кому эта скидка необхадима. Наш сервис позволяет сократить издержки и заказть любой товар по максимально низкой цене. Компании которые предоставляют свою скидку на товар могут получать дополнительные выгоды.</div>
        <div class="text__who__two">Наша технология позволяет компаниям сотрудничать и строить свой бизнес эффеективнее.</div>
    </div>
    <a class="bottom__ss" href="#"><div class="who_bottom bottom__title">Зарегистрироваться</div></a>
</div>

<div class="working__container">
    <div class="working__title">На платформе <span>работают</span></div>
    <div class="working__content"></div>
</div>

<div class="conteiter__polza">
    <div class="polza__title">
        Полезно
        <div class="polza__litle__title">Ещё немного информации</div>
    </div>
    <div class="polza__content">
        <div class="box__text__polza">
            <img src="images/sdelc.svg" class="up__dowb__img">
            <div class="title__text__polza">Безопасные сделки</div>
            <div class="text__polza up__text">Каждая сделка сопровождется догововром. Наш автоматический алгоритм составит догвор с учетом особенностей вашей сделки. В нем прописывается каждая деталь. Ваши права защииещены в соответсвии с законодательством РФ</div>
        </div>

        <div class="box__text__polza right__box">
            <img src="images/Shesterenka.svg" class="img__right">
            <div class="title__text__polza right__text">Поиск по контенту</div>
            <div class="text__polza middle__text">Функционал поиска пoмогает анализировать категории товаров, поэтому вы можете в считаные секунды найти все, что вам необходимо</div>
        </div>

        <div class="box__text__polza">
            <img src="images/podbor.svg" class="up__dowb__img">
            <div class="title__text__polza">Умный подбор</div>
            <div class="text__polza down__text">Умный математический алгоритм за несколько секунд проанализирует ваши потребности и свяжет с компаниями, которые позволят их удовлетворить. Автоматически будет сгенерированно максимально выгодное предложение</div>
        </div>
    </div>
    <div class="contaiter__how__it__works">
        <div class="title__works">Как это работает?</div>
        <div class="box__content">
            <div class="graphic">
                <div class="polosa"></div>
                <div class="box__img">
                    <img src="images/icons8-sign-up-80 1.svg" alt="">
                </div>
                <div class="box__img"><img src="images/icons8-messaging-80 1.svg" alt=""></div>
                <div class="box__img"><img src="images/icons8-sign-up-in-calendar-80 1.svg" alt=""></div>
            </div>
            <div class="text__work__box">
                <div class="text__work__one">Зарегистрируйся на платформе</div>
                <div class="text__work__two">Находи необходимый товар и получай предлождение по сотрудничеству</div>
                <div class="text__work__tree">Согласовывай детали, и наш алгоритм составит детали</div>
            </div>
        </div>
    </div>
</div>

<div class="contaiter__soon">
    <img src="images/phone.webp" class="phone__img">
    <div class="soon__box">
        <div class="left__box">
            <div class="left__little__title">Мобильное приложение <span>(в разработке)</span></div>
            <img src="images/soon__tab.png" class="soon__tab">
        </div>
        <div class="right__box__soon">
            <div class="right__little__title">Присоединяйтесь к нащему сервису</div>
            <a class="bottom__ss" href="#"><div class="bottom__title soon__bottom">Присоединиться</div></a>
        </div>
    </div>
