<div class="wrapper">
    <div class="header__menu">
        <div class="header__list">
            <a href="Index.html"><div class="glav__logo"></div></a>
            <ul class="list__style">
                <a href="Bisines.html"><li class="list__item">Для бизнеса</li></a>
                <a href=""><li class="list__item">Поддержка</li></a>
                <a href=""><li class="list__item">Частые вопросы</li></a>
                <a href=""><li class="list__item__kab">Личный кабинет</li></a>
            </ul>
        </div>
    </div>
</div>