<div class="contaiter__footer">
    <div class="contaiter__footer__logo">
        <img src="images/logo2.svg">
    </div>
    <div class="box__content__footer">
        <div class="footer__item__box">
            <div class="title__item__footer"><a href="">Главная</a></div>
            <div class="footer__item">
                <a href="">Зарегистрироваться </a>
                <a href="">Преимущества</a>
                <a href="">О нас</a>
                <a href="">На платформе работают </a>
                <a href="">Полезная информация</a>
                <a href=""></a>
            </div>
        </div>
        <div class="footer__item__box">
            <div class="title__item__footer"><a href="">Для бизнеса</a></div>
            <div class="footer__item">
                <a href="">Бизнесу</a>
                <a href="">Поставщикам</a>
                <a href="">Статистика</a>
                <a href="">Возможно вас заинтересует</a>
                <a href="">Сотрудничество</a>
                <a href="">Воспросы</a>
            </div>
        </div>
        <div class="footer__item__box">
            <div class="title__item__footer"><a href="">Частые вопросы</a></div>
            <div class="footer__item">
                <a href="">Мобильное приложение в разработке</a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="footer__item__box">
            <div class="title__item__footer"><a href="">Поддержка</a></div>
            <div class="footer__item">
                <a href="">Условия соглашения …</a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="footer__item__box">
            <div class="title__item__footer"><a href="">Личный кабинет</a></div>
            <div class="footer__item">
                <a href="">Войти</a>
                <a href="">Зарегистрироваться</a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>

    </div>

</div>
            