<header class="header__style">
    <div class="wrapper">
        <div class="header__menu">
            <div class="header__list">
                <a asp-action="Index" asp-controller="SearchPage"><div class="glav__logo"></div></a>
                <ul class="list__style">
                    <a asp-action="Index" asp-controller="Bussines"><li class="list__item">Для бизнеса</li></a>
                    <a href=""><li class="list__item">Поддержка</li></a>
                    <a href=""><li class="list__item">Частые вопросы</li></a>
                    <a href=""><li class="list__item__kab">Личный кабинет</li></a>
                </ul>
            </div>
        </div>
    </div>
</header>